
<!-- Design credits to: Cuberto-->
<!-- https://dribbble.com/shots/3742706-Find-a-tour-UX-UI-design-->
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <h1>Find a place</h1>
    <div id="cards">
        <div id="cardsWrapper">
            <div class="card">
                <div class="image" style="background-image: url(https://c1.staticflickr.com/1/343/31652757460_b2b5794a51_n.jpg);">
                    <div class="screen"></div>
                    <div class="text">
                        <p>Mountain</p>
                        <p>2 Days</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                    <div class="screen"></div>
                    <div class="text">
                        <p>Island</p>
                        <p>5 Days</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                    <div class="screen"></div>
                    <div class="text">
                        <p>Island</p>
                        <p>5 Days</p>
                    </div>
                </div>
            </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div> <div class="card">
            <div class="image" style="background-image: url(https://c2.staticflickr.com/2/1506/25121644830_2d768ef51a_n.jpg);">
                <div class="screen"></div>
                <div class="text">
                    <p>Island</p>
                    <p>5 Days</p>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="image" style="background-image: url(https://c1.staticflickr.com/1/591/31281062580_e2e3d01cf9_n.jpg);">
                    <div class="screen"></div>
                    <div class="text">
                        <p>Valley</p>
                        <p>3 Days</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image" style="background-image: url(https://c1.staticflickr.com/5/4490/38030401362_050e264522_n.jpg);">
                    <div class="screen"></div>
                    <div class="text">
                        <p>Forrest</p>
                        <p>4 Days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Booking rules</p>
        <p>Terms of use</p>
    </div>
</div>
</body>


<style>
    body {
        margin: 70px 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        font-family: "Quicksand", sans-serif;
        background-color: #F3C937;
    }

    h1 {
        position: relative;
        margin: 0;
        padding: 0;
        margin-left: 70px;
        margin-top: 65px;
        font-weight: 400;
        color: #6a6364;
    }

    p {
        padding: 0;
        margin: 0;
    }

    #wrapper {
        position: relative;
        width: 100%;

        background: linear-gradient(#fff8f1, #F7EFCD);
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    #wrapper:before {
        position: absolute;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 250px;
        background: linear-gradient(#FBEFD9, #F7E7BF);
        right: -150px;
        bottom: -70px;
    }

    #cards {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        padding-bottom: 60px;
        padding-top: 40px;
        padding-left: 50px;
        overflow: scroll;
    }
    #cards::-webkit-scrollbar {
        display: none;
    }

    #cardsWrapper {
        /* width: 1000px; */
        /* height: 1000px; */
        /* display: -webkit-box; */
        display: -moz-box;
        display: -ms-flexbox;
        /* display: -webkit-flex; */
        /* display: flex; */
        /* padding-right: 50px; */
        float: left;
    }

    .card {
        float: left;
        width: 433px;
        margin-top: 10px;
        height: 223px;
        perspective: 500px;
        /* margin: 0 23px; */
        /* flex-shrink: 0; */
        /* margin: 10px; */
        margin-top: 31px;
        margin-left: 17px;
    }

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 20px 40px -20px #9d6b23;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        background-size: cover;
    }

    .screen {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.22);
        transform: translateZ(35px) scale(0.93);
    }

    .text {
        position: absolute;
        bottom: 25px;
        left: 30px;
        color: white;
        transform: translateZ(35px) scale(0.93);
        font-family: "Quicksand", sans-serif;
    }
    .text p {
        cursor: default;
    }
    .text p:first-of-type {
        font-weight: 500;
        font-size: 2em;
        margin-bottom: 5px;
    }
    .text p:last-of-type {
        font-weight: 400;
        font-size: 0.9em;
    }

    #footer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 140px;
        margin-left: 72px;
    }
    #footer p {
        margin: 0;
        padding: 0;
        text-indent: 2px;
        font-weight: 400;
        font-size: 0.5rem;
        color: #6a6364;
        cursor: pointer;
    }

</style>