<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>This is Spring view all demo</h1>

<a href="/search">search name</a>
<br/><br/>
<a href="/product">add product</a>
<br/><br/>
<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td colspan="2">action</td>
    </tr>
    <tr th:each="Product: ${list}">
        <td th:text="${Product.Id}"></td>
        <td th:text="${Product.name}"></td>
        <td ><a th:href="@{'update?id=' + ${Product.Id}}">edit</a></td>
        <td ><a th:href="@{'delete?id=' + ${Product.Id}}">delete</a></td>

    </tr>
</table>

</body>
</html>