<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/login}" method="post" th:object="${account}">
    <p  th:text="${messenger}"></p>
    <input type="text"  th:field="*{username}">
    <input type="text"  th:field="*{password}">
    <input type="submit" value="Login">
</form>


</body>
</html>