<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet"/>
    <style>
        .table td, .table th {
            padding: .75rem;
            /* vertical-align: top; */
            border-top: 1px solid #e9ecef;
        }
    </style>
</head>



<body>
<div id="wrapper">
    <h1>Find a place</h1>
    <div id="cards">
        <div th:each="traver : ${listtv}" id="cardsWrapper">


            <div class="card">
                <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
                    <img th:src="${traver.image}" alt="Man with backpack"
                         class="d-block w-full">

                    <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                            Travel
                        </p>

                        <h1 th:text="${traver.name}" class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">

                        </h1>

                        <p class="mb-1">
                            Summer is coming to a close just around the corner. But it's not too late to squeeze in another weekend trip &hellip;
                        </p>

                    </div>

                    <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                        Read More
                    </a>
                </div>

            </div>


    </div>
    <div id="footer">
        <p>Booking rules</p>
        <p>Terms of use</p>
    </div>
</div>
</body>


<style>

    @import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
        text-rendering: optimizeLegibility;
        -webkit-font-variant-ligatures: none;
        font-variant-ligatures: none;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        background-color: #fafafa;
    }
    body::before,
    body::after {
        content: "";
        display: table;
        clear: both;
    }
    body * {
        box-sizing: inherit;
    }
    p, h1 {
        margin: 0; padding: 0;
    }

    body, .text-light-black {
        color: rgba(0,0,0,0.6);
    }
    .text-black {
        color: rgba(0,0,0,0.9);
    }
    .text-muted {
        color: rgba(0, 0, 0, 0.3);
    }



    .text-uppercase {
        text-transform: uppercase;
    }
    .ff-serif {
        font-family: 'Lora', serif;
    }

    .font-weight-normal {
        font-weight: normal;
    }
    .font-weight-medium {
        font-weight: 500;
    }

    .lts-1px {
        letter-spacing: 1px;
    }
    .lts-2px {
        letter-spacing: 2px;
    }


    .w-full {
        width: 100%;
    }

    .text-center {
        text-align: center;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }

    .d-block {
        display: block;
    }
    .d-inline-block {
        display: inline-block;
    }

    .p-relative {
        position: relative;
    }
    .p-absolute {
        position: absolute
    }



    .bg-white {
        background-color: #fff;
    }






    .small {
        font-size: 0.75rem;
    }
    .card-heading {
        font-size: 2.25rem;
    }
    .styled-link {
        text-decoration: none;
        outline: none;
        color: #2196fe;
        transition: all 0.25s ease-in;
    }
    .styled-link:hover,
    .styled-link:focus,
    .styled-link:active {
        color: #536dfe;
    }
    .shadow-1 {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
    }
    .blue-hover {
        transition: all 0.25s ease-in;
        border-bottom: 5px solid transparent;
    }
    .blue-hover:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        mar
        border: none;
        border-bottom: 5px solid #2196fe;
    }




    .clearfix::before,
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    .float-left {
        float: left;
    }
    .float-right{
        float: right;
    }






    /**Margin and padding utilities*/
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .ml-auto {
        margin-left: auto;
    }
    .mr-auto {
        margin-right: auto;
    }
    .mx-0 {
        margin-left: 0;
        margin-right: 0;
    }
    .mx-1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .mx-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .mx-3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }


    .my-0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .my-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .my-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .my-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .mt-0 {
        margin-top: 0;
    }
    .mt-1 {
        margin-top: 1rem;
    }
    .mt-2 {
        margin-top: 2rem;
    }
    .mt-3 {
        margin-top: 3rem;
    }

    .mb-0 {
        margin-bottom: 0;
    }
    .mb-1 {
        margin-bottom: 1rem;
    }
    .mb-2 {
        margin-bottom: 2rem;
    }
    .mb-3 {
        margin-bottom: 3rem;
    }

    .ml-0 {
        margin-left: 0;
    }
    .ml-1 {
        margin-left: 1rem;
    }
    .ml-2 {
        margin-left: 2rem;
    }
    .ml-3 {
        margin-left: 3rem;
    }




    .px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .px-1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .px-2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .px-3 {
        padding-left: 3rem;
        padding-right: 3rem;
    }


    .py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .py-1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .py-2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .py-3 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .pt-0 {
        padding-top: 0;
    }
    .pt-1 {
        padding-top: 1rem;
    }
    .pt-2 {
        padding-top: 2rem;
    }
    .pt-3 {
        padding-top: 3rem;
    }

    .pb-0 {
        padding-bottom: 0;
    }
    .pb-1 {
        padding-bottom: 1rem;
    }
    .pb-2 {
        padding-bottom: 2rem;
    }
    .pb-3 {
        padding-bottom: 3rem;
    }
    body {
        margin: 70px 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        font-family: "Quicksand", sans-serif;
        background-color: #F3C937;
    }

    h1 {
        position: relative;
        margin: 0;
        padding: 0;
        margin-left: 70px;
        margin-top: 65px;
        font-weight: 400;
        color: #6a6364;
    }

    p {
        padding: 0;
        margin: 0;
    }

    #wrapper {
        position: relative;
        width: 100%;

        background: linear-gradient(#fff8f1, #F7EFCD);
        box-shadow: 0 10px 60px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    #wrapper:before {
        position: absolute;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 250px;
        background: linear-gradient(#FBEFD9, #F7E7BF);
        right: -150px;
        bottom: -70px;
    }

    #cards {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        padding-bottom: 60px;
        padding-top: 40px;
        padding-left: 50px;
        overflow: scroll;
    }
    #cards::-webkit-scrollbar {
        display: none;
    }

    #cardsWrapper {
        /* width: 1000px; */
        /* height: 1000px; */
        /* display: -webkit-box; */
        display: -moz-box;
        display: -ms-flexbox;
        /* display: -webkit-flex; */
        /* display: flex; */
        /* padding-right: 50px; */
        float: left;
    }

    .card {
        float: left;
        width: 433px;
        margin-top: 10px;
        height: 539px;
        perspective: 500px;
        /* margin: 0 23px; */
        /* flex-shrink: 0; */
        /* margin: 10px; */
        margin-top: 31px;
        margin-left: 17px;
    }

    .image {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 20px 40px -20px #9d6b23;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        background-size: cover;
    }

    .screen {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.22);
        transform: translateZ(35px) scale(0.93);
    }

    .text {
        position: absolute;
        bottom: 25px;
        left: 30px;
        color: white;
        transform: translateZ(35px) scale(0.93);
        font-family: "Quicksand", sans-serif;
    }
    .text p {
        cursor: default;
    }
    .text p:first-of-type {
        font-weight: 500;
        font-size: 2em;
        margin-bottom: 5px;
    }
    .text p:last-of-type {
        font-weight: 400;
        font-size: 0.9em;
    }

    #footer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 140px;
        margin-left: 72px;
    }
    #footer p {
        margin: 0;
        padding: 0;
        text-indent: 2px;
        font-weight: 400;
        font-size: 0.5rem;
        color: #6a6364;
        cursor: pointer;
    }

</style>

</html>